<p>
  <mat-toolbar>
    <span>My profile</span>
  </mat-toolbar>
</p>
<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Personal information
      </mat-panel-title>
      <mat-panel-description>
        Account's info
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <form [formGroup]="userForm" (ngSubmit)="onUpdateAccount()" autocomplete="off">
      <mat-card-content align="center">
        <div class="row">
          <div class="col-sm-6 col-12">
            <mat-form-field appearance="outline">
              <mat-label>Name</mat-label>
              <input autocomplete="false" matInput placeholder="Your name" formControlName="name"/>
              <button mat-icon-button matSuffix>
                <mat-icon matSuffix>face</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="col-sm-6 col-12">
            <mat-form-field appearance="outline" >
              <mat-label>Email</mat-label>
              <input  autocomplete="false" matInput placeholder="Correo electronico" formControlName="email"/>
              <button mat-icon-button matSuffix>
                <mat-icon matSuffix>alternate_email</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-12">
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input autocomplete="false" matInput [type]="hide ? 'password' : 'text'" formControlName="password">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="col-sm-6 col-12">
            <mat-form-field appearance="outline">
              <mat-label>Repeat Password</mat-label>
              <input autocomplete="false" matInput [type]="hide ? 'password' : 'text'" formControlName="rpassword">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>


      </mat-card-content>
      <mat-card-actions align="center">
        <div class="col-12" align="center">
          <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid">Update</button>
        </div>

      </mat-card-actions>
    </form>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Profile
      </mat-panel-title>
      <mat-panel-description>
        Profile's info
        <mat-icon>date_range</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <form [formGroup]="hostsForm" (ngSubmit)="onUpdateProfile()" autocomplete="off">
      <mat-card-content align="center">
        <div class="row">
          <div class="col-12">
            <mat-form-field appearance="outline" class="perfil-text-area">
              <mat-label>Profile's text</mat-label>
              <textarea  autocomplete="false" matInput placeholder="Text to be shown on your profile" formControlName="profile">
              </textarea>
              <button mat-icon-button matSuffix>
                <mat-icon matSuffix>face</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>

      </mat-card-content>
      <mat-card-actions align="center">
        <div class="col-12" align="center">
          <button mat-raised-button color="primary" type="submit" [disabled]="!hostsForm.valid">Update</button>
        </div>

      </mat-card-actions>
    </form>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Countries
      </mat-panel-title>
      <mat-panel-description>
        Banned countries
        <mat-icon>flag</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="banned">
        <th mat-header-cell *matHeaderCellDef> Banned </th>
        <td mat-cell *matCellDef="let element">
          <mat-slide-toggle [checked]="element.banned" (change)="countryChanged($event,element.id)"></mat-slide-toggle>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <ng-content></ng-content>
    </table>


  </mat-expansion-panel>
</mat-accordion>
