
<mat-card class="example-card">
  <mat-card-header align="center">
    <div class="login-box-header">
      <!-- Src image is temporary hosted in image.ibb-->
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/cc/OnlyFans_logo.svg/1200px-OnlyFans_logo.svg.png" class="responsive">
    </div>
  </mat-card-header>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()" autocomplete="off">
    <mat-card-content align="center">

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input autocomplete="false" matInput placeholder="Your email address" formControlName="email"/>
          <button mat-icon-button matSuffix>
            <mat-icon matSuffix>alternate_email</mat-icon>
          </button>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input autocomplete="false" matInput [type]="hide ? 'password' : 'text'" formControlName="password">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

      </p>

    </mat-card-content>
    <mat-card-actions align="center">
      <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">LogIn</button>
      <a mat-flat-button [routerLink]="['/sign-up']">Sign Up</a>
    </mat-card-actions>
  </form>
</mat-card>




