
<mat-card class="example-card">
  <mat-card-header align="center">
    <div class="login-box-header">
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/cc/OnlyFans_logo.svg/1200px-OnlyFans_logo.svg.png" class="responsive">
    </div>
  </mat-card-header>
  <form [formGroup]="createForm" (ngSubmit)="onCreate()" autocomplete="off">
    <mat-card-content align="center">
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input autocomplete="false" matInput placeholder="Your name" formControlName="name"/>
            <button mat-icon-button matSuffix>
              <mat-icon matSuffix>face</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="col-lg-6 col-sm-12">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input autocomplete="false" matInput placeholder="Your email" formControlName="email"/>
            <button mat-icon-button matSuffix>
              <mat-icon matSuffix>alternate_email</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input autocomplete="false" matInput [type]="hide ? 'password' : 'text'" formControlName="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="col-lg-6 col-sm-12">
          <mat-form-field appearance="outline">
            <mat-label>Repeat password</mat-label>
            <input autocomplete="false" matInput [type]="hide ? 'password' : 'text'" formControlName="rpassword">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide pasword'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <mat-form-field appearance="outline" *ngIf="getCountriesResponse">
            <mat-label>Country</mat-label>
            <mat-select formControlName="countryId" name="countryId" >
              <mat-option *ngFor="let country of getCountriesResponse.countries" [value]="country.id">
                {{country.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>


    </mat-card-content>
    <mat-card-actions align="center">
      <button mat-raised-button color="primary" type="submit" [disabled]="!createForm.valid">Sign Up</button>
      <a mat-flat-button [routerLink]="['/auth/login']">Login</a>
    </mat-card-actions>
  </form>
</mat-card>




