<ng-container *ngIf="user && user.host">
  <a [routerLink]="'/hosts/edit'" mat-icon-button aria-label="Example icon-button with a menu">
    <mat-icon>account_circle</mat-icon>
  </a>
  <a [routerLink]="'/hosts/public-chat'" mat-icon-button aria-label="Example icon-button with a menu">
    <mat-icon>chat</mat-icon>
  </a>
  <button mat-icon-button [matMenuTriggerFor]="menuHost"
          aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
</ng-container>

<ng-container *ngIf="user && user.spectator">

</ng-container>
<ng-container *ngIf="!user">

</ng-container>

<mat-menu #menuNoUser="matMenu">
  <button mat-menu-item>
    <mat-icon>dialpad</mat-icon>
    <span>Redial</span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>voicemail</mat-icon>
    <span>Check voice mail</span>
  </button>
  <button mat-menu-item>
    <mat-icon>notifications_off</mat-icon>
    <span>Disable alerts</span>
  </button>
</mat-menu>
<mat-menu #menuHost="matMenu">
  <button mat-menu-item disabled>
    <mat-icon>account_balance</mat-icon>
    <span>Account balance</span>
  </button>
  <button mat-menu-item (click)="logOut()">
    <mat-icon>logout</mat-icon>
    <span>LogOut</span>
  </button>
</mat-menu>

