<mat-grid-list cols="4" rowHeight="40%">
  <mat-grid-tile colspan="3" rowspan="1"  [style.background]="'lightblue'">
    <div id="broadcast" style="display:none;" data="<%= broadcast %>"></div>
    <div id="main" class="main-container">
      <div id="banner" class="banner">
        <span id="bannerText" class="text">Waiting for Broadcast to Begin</span>
      </div>
      <div id="videoContainer" class="video-container">
        <video id="video"></video>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="2" [style.background]="'lightblue'">
    <div class="container" style="height: 100%">
      <div class="row" style="max-height: 90%; overflow: scroll">
        <div class="col-12">
          <table #chatMessages style="background-color: white">
            <tr><td>a</td></tr>
            <tr><td>a</td></tr>
            <tr><td>a</td></tr>
            <tr><td>a</td></tr>
            <tr><td>a</td></tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <input type="text" placeholder="Your message" />
        </div>
      </div>
    </div>



  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1" [style.background]="'lightpink'">

  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="1" [style.background]="'#DDBDF1'">

  </mat-grid-tile>
</mat-grid-list>

<!--<div fxLayout="row" fxLayoutAlign="space-around stretch" style="background-color: #ddbdf1">-->
<!--</div>-->
